@model Projeto_Integrador.Models.Database.EXERCICIO
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}
<h1 style="color:red"> Atenção!</h1>
<h4>Você tem certeza que deseja excluir o cadastro @Html.DisplayFor(model => model.NOM_EXERCICIO)?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.NOM_EXERCICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOM_EXERCICIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SIG_EXERCICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SIG_EXERCICIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.STA_EXERCICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.STA_EXERCICIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TIP_EXERCICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIP_EXERCICIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GRUPO_MUSCULAR.NOM_GRUPOMUSCULAR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GRUPO_MUSCULAR.NOM_GRUPOMUSCULAR)
            </dd>*@
        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Nome Exercício</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.NOM_EXERCICIO)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Sigla Exercício</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.SIG_EXERCICIO)">
            </div>
        </fieldset>

        @*<fieldset class="dropdown">
                <div class="form-group col-md-4">
                    <label for="disabledTextInput">Status</label>
                    <input type="button" id="dropdownMenu1" class="form-control" placeholder="@Html.DisplayFor(model => model.STA_EXERCICIO)">
                </div>
            </fieldset>*@

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Tipo de Exercício</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.TIP_EXERCICIO)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Grupo Muscular</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.GRUPO_MUSCULAR.NOM_GRUPOMUSCULAR)">
            </div>
        </fieldset>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success col-md-offset-0" })
            <input type="submit" value="Excluir" class="btn btn-danger col-md-offset-3" />

        </div>
    }
</div>
