@model Projeto_Integrador.Models.Database.EXERCICIO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}
<h2>Editar Exercício</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.COD_EXERCICIO)
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.COD_GRUMUSC, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Código Grupo Muscular</h4>
                @Html.DropDownList("COD_GRUMUSC", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.COD_GRUMUSC, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.NOM_EXERCICIO, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Nome do Exercício</h4>
                @Html.EditorFor(model => model.NOM_EXERCICIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOM_EXERCICIO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SIG_EXERCICIO, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Sigla Exercício</h4>
                @Html.EditorFor(model => model.SIG_EXERCICIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SIG_EXERCICIO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.STA_EXERCICIO, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Status Exercício</h4>

                @Html.EditorFor(model => model.STA_EXERCICIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STA_EXERCICIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIP_EXERCICIO, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-11">
                <h4>Tipo de Exercício</h4>
                @Html.EditorFor(model => model.TIP_EXERCICIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TIP_EXERCICIO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success" })
                <input type="submit" value="cadastrar" class="btn btn-danger col-lg-offset-9" />
            </div>
        </div>
    </div>

}
<div>

</div>
