@model Projeto_Integrador.Models.Database.PESSOA

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}

<h2>Cadatro Usuário</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
    </div>

    @Html.LabelFor(model => model.EMA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.EditorFor(model => model.EMA_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
        @Html.ValidationMessageFor(model => model.EMA_PESSOA, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.SEN_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">

        @Html.EditorFor(model => model.SEN_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", @type = "password" } })
        @Html.ValidationMessageFor(model => model.SEN_PESSOA, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.NOM_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.NOM_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
        @Html.ValidationMessageFor(model => model.NOM_PESSOA, "", new { @class = "text-danger", })
    </div>

            @Html.LabelFor(model => model.SNO_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SNO_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sobrenome" } })
                @Html.ValidationMessageFor(model => model.SNO_PESSOA, "", new { @class = "text-danger" })

            </div>

            @Html.LabelFor(model => model.DCA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DCA_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data de Cadastro" } })
                @Html.ValidationMessageFor(model => model.DCA_PESSOA, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.CPF_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CPF_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "CPF" } })
                @Html.ValidationMessageFor(model => model.CPF_PESSOA, "", new { @class = "text-danger" })

            </div>

            @Html.LabelFor(model => model.RG_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RG_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "RG" } })
                @Html.ValidationMessageFor(model => model.RG_PESSOA, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DNA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DNA_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data Nacimento" } })
                @Html.ValidationMessageFor(model => model.DNA_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.SEX_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.SEX_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sexo" } })
                @Html.ValidationMessageFor(model => model.SEX_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.PAI_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PAI_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pais" } })
                @Html.ValidationMessageFor(model => model.PAI_PESSOA, "", new { @class = "text-danger" })
            </div>


            @Html.LabelFor(model => model.CID_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CID_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cidade" } })
                @Html.ValidationMessageFor(model => model.CID_PESSOA, "", new { @class = "text-danger" })
            </div>


            @Html.LabelFor(model => model.BAI_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.BAI_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bairro" } })
                @Html.ValidationMessageFor(model => model.BAI_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.END_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.END_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rua" } })
                @Html.ValidationMessageFor(model => model.END_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.NEN_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.NEN_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero" } })
                @Html.ValidationMessageFor(model => model.NEN_PESSOA, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.CEP_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CEP_PESSOA, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "CEP" } })
                @Html.ValidationMessageFor(model => model.CEP_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.TEL_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.TEL_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefone" } })
                @Html.ValidationMessageFor(model => model.TEL_PESSOA, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.TEM_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.TEM_PESSOA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefone Emergência" } })
                @Html.ValidationMessageFor(model => model.TEM_PESSOA, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-offset-11 col-md-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


}

<div>
    <p>@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success" })</p>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
