@model Projeto_Integrador.Models.Database.PESSOA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir o cadastro?</h3>
<div>
    <h4>PESSOA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.FPE_PESSOA,"Foto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPE_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NOM_PESSOA,"Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_PESSOA) @Html.DisplayFor(model => model.SNO_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RG_PESSOA,"RG")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ALUNO.CPF_ALUNO, "CPF")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALUNO.CPF_ALUNO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TEL_PESSOA,"Telefone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_PESSOA)
        </dd>

         <dt>
            @Html.LabelFor(model => model.EMA_PESSOA,"Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMA_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PAI_PESSOA, "País")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAI_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CID_PESSOA, "Cidade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BAI_PESSOA, "Bairro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAI_PESSOA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.END_PESSOA, "Endereço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_PESSOA)@Html.DisplayFor(model => model.NEN_PESSOA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lista", "Index")
        </div>
    }
</div>
