@model Projeto_Integrador.Models.Database.PESSOA

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}

@{ <h4>Detalhes Cadastro @Html.DisplayFor(model => model.NOM_PESSOA)</h4>
}

<div>
    <p>

    </p>
    <hr />
    <fieldset disabled>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.FPE_PESSOA, "Foto")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FPE_PESSOA)
            </dd>
        </dl>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Nome</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.NOM_PESSOA) @Html.DisplayFor(model => model.SNO_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Data Nascimento</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.DNA_PESSOA.ToShortDateString()">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Data Cadastro</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.DCA_PESSOA.ToShortDateString()">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Sexo</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.SEX_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">País</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.PAI_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Cidade</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.CID_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Bairro</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.BAI_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Número</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.NEN_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">CEP</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.CEP_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Telefone</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.TEL_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">Telefone Emergência</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.TEM_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">RG</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.RG_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">E-mail</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.EMA_PESSOA)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">CPF</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.ALUNO.CPF_ALUNO)">
            </div>
        </fieldset>

        <fieldset disabled>
            <div class="form-group col-md-4">
                <label for="disabledTextInput">CTP</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=" @Html.DisplayFor(model => model.FUNCIONARIO.CTP_PESSOA) ">
            </div>
        </fieldset>

    </fieldset>
</div>

<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary col-md-offset-0" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.CPF_PESSOA }, new { @class = "btn btn-success col-md-offset-2" })

</p>