@model Projeto_Integrador.Models.Database.PESSOA
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}
<h2>Editar Usúario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CPF_PESSOA)

        <div class="form-group col-mf-12">
            @Html.LabelFor(model => model.FPE_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-11">
                <h4>Foto</h4>
                @Html.EditorFor(model => model.FPE_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FPE_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.NOM_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Nome</h4>
                @Html.EditorFor(model => model.NOM_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOM_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SNO_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Sobrenome</h4>
                @Html.EditorFor(model => model.SNO_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SNO_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.DNA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Data de Nascimento</h4>
                @Html.EditorFor(model => model.DNA_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DNA_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.DCA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Data Cadastro</h4>
                @Html.EditorFor(model => model.DCA_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DCA_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.SEX_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Sexo</h4>
                @Html.EditorFor(model => model.SEX_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SEX_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PAI_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>País</h4>
                @Html.EditorFor(model => model.PAI_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PAI_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.CID_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Cidade</h4>
                @Html.EditorFor(model => model.CID_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CID_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BAI_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Bairro</h4>
                @Html.EditorFor(model => model.BAI_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BAI_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.END_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Endereço</h4>
                @Html.EditorFor(model => model.END_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.END_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.NEN_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Número</h4>
                @Html.EditorFor(model => model.NEN_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NEN_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.CEP_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>CEP</h4>
                @Html.EditorFor(model => model.CEP_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CEP_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.RG_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>RG</h4>
                @Html.EditorFor(model => model.RG_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RG_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.CPF_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>CPF</h4>
                @Html.EditorFor(model => model.CPF_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">

            @Html.LabelFor(model => model.TEL_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>Telefone</h4>
                @Html.EditorFor(model => model.TEL_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEL_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.TEM_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <h4>Telefone Emergência</h4>
            @Html.EditorFor(model => model.TEM_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TEM_PESSOA, "", new { @class = "text-danger" })
        </div>



        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.EMA_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <h4>E-mail:</h4>
                @Html.EditorFor(model => model.EMA_PESSOA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMA_PESSOA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.SEN_PESSOA, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <h4>Senha:</h4>
            @Html.EditorFor(model => model.SEN_PESSOA, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.SEN_PESSOA, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-0 col-md-12">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success" })
            <input type="submit" value="Salvar Alterações" class="btn btn-primary col-md-offset-9" />

        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
