@model Projeto_Integrador.Models.Database.GRUPO_MUSCULAR
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}
<h2>Detalhes</h2>
<div>
    <hr />
    @* <dl class="dl-horizontal">
           <dt>
                @Html.DisplayNameFor(model => model.NOM_GRUPOMUSCULAR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOM_GRUPOMUSCULAR)
            </dd>

        </dl>*@
    <fieldset disabled>
        <div class="form-group col-md-4">
            <label for="disabledTextInput">Nome Muscular</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.NOM_GRUPOMUSCULAR)">
        </div>
    </fieldset>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary col-md-offset-0" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.COD_GRUPOMUSCULAR }, new { @class = "btn btn-success col-md-offset-2" })
</p>
