@model IEnumerable<Projeto_Integrador.Models.Database.GRUPO_MUSCULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}
<h2>Grupos Musculares Cadastrados</h2>
<p>
    @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Nome Grupo Muscular
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOM_GRUPOMUSCULAR)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.COD_GRUPOMUSCULAR }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.COD_GRUPOMUSCULAR }, new { @class = "btn btn-success" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.COD_GRUPOMUSCULAR }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
