@model IEnumerable<Projeto_Integrador.Models.Database.GRUPO_MUSCULAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemaAdm.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_GRUPOMUSCULAR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_GRUPOMUSCULAR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_GRUPOMUSCULAR }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_GRUPOMUSCULAR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_GRUPOMUSCULAR })
        </td>
    </tr>
}

</table>
